
#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #allEvaluations,
#main > #allStudents,
#main > #registrationQueue,
#main > #systemLogs {
    width: 100%;
    max-width: 120rem;
    padding: 8rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
@media only screen and (max-width: 50rem) {
    #main > #allEvaluations,
    #main > #allStudents,
    #main > #registrationQueue,
    #main > #systemLogs {
        padding: 8rem 4rem;
    }
}
#main > #allEvaluations > #header,
#main > #allStudents > #header,
#main > #registrationQueue > #header,
#main > #systemLogs > #header {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#main > #allEvaluations > #header > #tags,
#main > #allStudents > #header > #tags,
#main > #registrationQueue > #header > #tags,
#main > #systemLogs > #header > #tags {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main > #allEvaluations > #students,
#main > #allStudents > #students,
#main > #registrationQueue > #students,
#main > #systemLogs > #students {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #allEvaluations #evaluations {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#main > #systemLogs > table {
    max-width: 100%;
    border-spacing: 0;
    border: solid 0.2rem var(--color-secondary);
    background-color: var(--color-shade-light);
    display: fixed;
}
#main > #systemLogs > table th {
    background-color: var(--color-secondary);
    color: var(--color-shade-light);
}
#main > #systemLogs > table th,
#main > #systemLogs > table td {
    padding: 2rem;
    border: solid 0.2rem var(--color-secondary);
}
#main > #systemLogs > table pre {
    max-width: 100%;
    overflow-x: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}