
#main > #allStudents,
#main > #registrationQueue {
    width: 100%;
    padding: 8rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#main > #allStudents > #header,
#main > #registrationQueue > #header {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#main > #allStudents > #header > #tags,
#main > #registrationQueue > #header > #tags {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main > #allStudents > #students,
#main > #registrationQueue > #students {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
