html {
	background-color: var(--color-plain);
}

#sidebarButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 8rem;
    width: 8rem;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    background-color: unset;
    position: fixed;
    z-index: 15;
	transition: var(--transition-speed);
}
#sidebarButton + svg {
    height: 8rem;
    width: 8rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    pointer-events: none;
    transform: rotateY(180deg);
	transition: var(--transition-speed);
}
#sidebarButton + svg path {
    fill: var(--color-plain-complement);
	transition: var(--transition-speed);
}
#sidebarButton:checked + svg path {
    fill: var(--color-plain);
}
#sidebarButton:checked {
    left: calc(40rem - 8rem);
}
#sidebarButton:checked + svg {
    transform: rotateY(0deg);
    left: calc(40rem - 8rem);
}
#sidebarButton:checked + svg + #sidebarPanel {
    left: 0;
}

#sidebarPanel {
    height: 100%;
    width: 40rem;
    padding: 4rem;
    gap: 4rem;
    left: -40rem;
    background-color: var(--color-secondary);
    color: var(--color-shade-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
	transition: var(--transition-speed);
    z-index: 5;
}

#sidebarPanel > #header {
    width: 100%;
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
}
#sidebarPanel > #header > img {
    height: 16rem;
}
#sidebarPanel > #header > div > :first-child {
    color: var(--color-primary-complement);
}

#sidebarPanel > #map {
    height: 100%;
    width: 100%;
    padding: 4rem 0;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#sidebarPanel > #map > .page {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    position: relative;
}
#sidebarPanel > #map > .page.active::before {
    content: '';
    height: 2.5rem;
    width: 0.5rem;
    top: 0;
    left: 0;
    display: block;
    background-color: var(--color-shade-light);
    position: absolute;
}

#main {
    min-height: 100vh;
    width: 100%;
    left: 0;
    position: relative;
    transition: var(--transition-speed);
}

#sidebarButton:checked + svg + #sidebarPanel + #main {
    width: calc(100% - 40rem);
    left: 40rem;
}
@media screen and (max-width: 70rem) {
    #sidebarButton:checked + svg + #sidebarPanel + #main {
        width: 100%;
        left: 0;
    }
}

#main > #profileAndEvaluations {
    width: 100%;
    padding: 8rem 4rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 50rem) {
    #main > #profileAndEvaluations {
        gap: 4rem;
    }
}

#main > #profileAndEvaluations > #profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main .studentInfo {
    width: 100%;
    max-width: 120rem;
    padding: 4rem;
    gap: 4rem;
    border: solid 0.2rem var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-shade-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 50rem) {
    #main .studentInfo {
        padding: 4rem;
        gap: 4rem;
    };
}

#main .studentInfo > #profile {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 50rem) {
    #main .studentInfo > #profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };
}
#main .studentInfo > #profile > img {
    height: 24rem;
    width: 24rem;
    border-radius: 50%;
    object-fit: cover;
}
#main .studentInfo > #profile > #form {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#main .studentInfo > #profile > #form > .row {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main .studentInfo > #action {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main > #profileAndEvaluations > #evaluations {
    width: 100%;
    max-width: 120rem;
    padding: 4rem 0;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main .evaluation {
    width: 100%;
    border: solid 0.2rem var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-shade-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
#main .evaluation > .date {
    width: 100%;
    padding: 1.5rem 4rem;
    background-color: var(--color-secondary);
    color: var(--color-shade-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#main .evaluation.withSender > .users {
    padding: 0.5rem 4rem;
    padding-top: 1.5rem;
}
#main .evaluation > .users {
    width: 100%;
    padding: 0.5rem 4rem;
    background-color: var(--color-secondary);
    color: var(--color-shade-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#main .evaluation.withSender > .users {
    padding-bottom: 1.5rem;
    justify-content: space-between;
}
@media screen and (max-width: 50rem) {
    #main .evaluation > .users {
        gap: 1rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #main .evaluation.withSender > .date {
        padding: 1rem 4rem;
        padding-top: 1.5rem;
    }
    #main .evaluation.withSender > .users {
        padding: 1rem 4rem;
        padding-bottom: 1.5rem;
    }
    #main .evaluation.withSender > .users > h6 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #main .evaluation.withSender > .users > h6 > span {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
#main .evaluation > .criteria {
    width: 100%;
    gap: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width: 50rem) {
    #main .evaluation > .criteria {
        flex-direction: column;
    }
}
#main .evaluation > .criteria > div {
    width: 100%;
    padding: 4rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main .evaluation > .criteria > div > .criterion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main .evaluation > .additionalStatement {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#main > #yourEvaluations {
    width: 100%;
    padding: 8rem 4rem;
    gap: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #yourEvaluations > #search {
    width: 100%;
    max-width: 100rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#main > #yourEvaluations > #evaluations {
    width: 100%;
    max-width: 100rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #yourEvaluations > #evaluations > #student {
    width: 100%;
    padding: 1rem 4rem;
    border-radius: 1rem;
    color: var(--color-shade-light);
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main > #yourEvaluations > #evaluations > #student > #studentInfo {
    gap: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#main > #yourEvaluations > #evaluations > #student > #studentInfo > img {
    height: 6rem;
}
#main > #yourEvaluations > #evaluations > #student > #studentInfo > #studentIdentification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 50rem) {
    #main > #yourEvaluations {
        gap: 4rem;
        flex-direction: column;
    }
    #main > #yourEvaluations > #search,
    #main > #yourEvaluations > #evaluations {
        width: 100%;
    }
    #main > #yourEvaluations > #evaluations > #student {
        gap: 2rem;
        flex-direction: column;
    }
    #main > #yourEvaluations > #evaluations > #student > #studentInfo {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    #main > #yourEvaluations > #evaluations > #student > #studentInfo > #studentIdentification {
        gap: 1rem;
        align-items: center;
    }
}

#main > #submitAnEvaluation {
    width: 100%;
    padding: 8rem 4rem;
    gap: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 50rem) {
    #main > #submitAnEvaluation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
#main > #submitAnEvaluation > #students {
    width: 100%;
    max-width: 100rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 50rem) {
    #main > #submitAnEvaluation > #students {
        width: 100%;
    }
}
#main > #submitAnEvaluation > #students > #search {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#main > #submitAnEvaluation > #students > .student {
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: var(--color-shade-light);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: var(--transition-speed);
}
#main > #submitAnEvaluation > #students > .student:hover {
    filter: brightness(0.75);
}
@media screen and (max-width: 50rem) {
    #main > #submitAnEvaluation > #students > .student {
        width: 100%;
    }
}
#main > #submitAnEvaluation > #students > .student.active {
    color: var(--color-shade-light);
    background-color: var(--color-secondary);
}
#main > #submitAnEvaluation > #students > .student > img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
}
#main > #submitAnEvaluation > #students > .student > #studentIdentification {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#main > #submitAnEvaluation > #form {
    width: 100%;
    max-width: 100rem;
    gap: 4rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #submitAnEvaluation > #form > #student {
    width: 100%;
    padding: 1rem 2rem;
    gap: 2rem;
    border-radius: 1rem;
    color: var(--color-shade-light);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 50rem) {
    #main > #submitAnEvaluation > #form > #student {
        padding: 2rem;
        flex-direction: column;
    }
}
#main > #submitAnEvaluation > #form > #student > img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
}
@media screen and (max-width: 50rem) {
    #main > #submitAnEvaluation > #form > #student > img {
        height: 8rem;
        width: 8rem;
    }
}
#main > #submitAnEvaluation > #form > #student > #studentIdentification {
    height: 6rem;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 50rem) {
    #main > #submitAnEvaluation > #form > #student > #studentIdentification {
        height: unset;
        gap: 1rem;
        flex-direction: column;
    }
}
#main > #submitAnEvaluation > #form > #instructions {
    width: 100%;
    padding: 4rem 2rem;
    gap: 2rem;
    border-radius: 1rem;
    background-color: var(--color-shade-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #submitAnEvaluation > #form > .criteria > div {
    padding: 4rem 0;
    gap: 4rem;
}
#main > #submitAnEvaluation > #form > .criteria,
#main > #submitAnEvaluation > #form > .criteria > div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion {
    width: 100%;
    padding: 2rem 4rem;
    gap: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion.even {
    background-color: var(--color-shade-light);
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 2rem;
    width: 2rem;
    padding: 0;
    border: solid 0.4rem var(--color-secondary);
    background-color: var(--color-shade-light);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4pm;
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]:checked ~ input[type="radio"],
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]:checked ~ input[type="radio"],
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]:checked ~ input[type="radio"],
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]:checked ~ input[type="radio"],
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]:checked ~ input[type="radio"] {
        opacity: 0.5;
    }
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]::before {
    content: attr(value);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: var(--color-shade-light);
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: scale(0);
    transition: var(--transition-speed);
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]:checked::before,
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating > input[type="radio"]:hover::before {
    transform: scale(100%);
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="5"])::before,
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="4"])::before,
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="3"])::before,
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="2"])::before,
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="1"])::before {
    content: '';
    height: 0.4rem;
    top: 0.8rem;
    left: 0;
    width: 0;
    display: block;
    background-color: var(--color-secondary);
    position: absolute;
    transition: var(--transition-speed);
    pointer-events: none;
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="5"]:checked)::before {
    width: calc((100% / 4) * 4);
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="4"]:checked)::before {
    width: calc((100% / 4) * 3);
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="3"]:checked)::before {
    width: calc((100% / 4) * 2);
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="2"]:checked)::before {
    width: calc((100% / 4) * 1);
}
#main > #submitAnEvaluation > #form > .criteria > div > .criterion > #rating:has(input[type="radio"][value="1"]:checked)::before {
    width: calc((100% / 4) * 0);
}
#main > #submitAnEvaluation > #form > .textInput > #additionalStatement {
    width: 100%;
    resize: none;
}