:root {
	--color-gradient: linear-gradient(
		to bottom,
		var(--color-plain-complement),
		var(--color-secondary)
	);
	--color-gradient-complement: linear-gradient(
		to bottom,
		var(--color-secondary),
		var(--color-plain-complement)
	);

	--color-primary: #0b3e06;
	--color-primary-complement: #fcb72e;
	--color-secondary: #04863c;
	--color-plain: #e1e1e1;
	--color-plain-complement: #1e1e1e;

	--color-shade-light: #ffffff;
	--color-shade-dark: #000000;

	--transition-speed: 0.25s;
}

html {
	font-size: calc(62.5% / 1.25);
	scroll-behavior: smooth;
	background-color: var(--color-plain);
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	line-height: 100%;
}
body {
	image-rendering: crisp-edges;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-size: 2rem;
}
a {
	text-decoration: underline;
	color: inherit;
	transition: var(--transition-speed);
}
a:hover {
	filter: invert(0.25);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 1rem;
}
::-webkit-scrollbar-track {
	background: var(--color-plain);
}
::-webkit-scrollbar-thumb {
	background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-plain-complement);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lora", "Times New Roman";
}
h1 {
	font-size: 4.5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3.5rem;
}
h4 {
	font-size: 3rem;
}
h5 {
	font-size: 2.5rem;
}
h6 {
	font-size: 2rem;
}
p {
	font-size: 2rem;
}
p.postscript {
	width: 100%;
	font-size: 1.5rem;
	display: inline-block;
}
@media screen and (max-width: 70rem) {
	html {
		font-size: calc(62.5% / 1.5);
	}
}
@media screen and (max-width: 50rem) {
	html {
		font-size: calc(62.5% / 1.25);
	}
}

.textInput {
	width: 100%;
	gap: 1rem;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	position: relative;
}
.textInput label,
.textInput label h6  {
	color: var(--color-shade-dark);
	white-space: nowrap;
	text-align: left;
}
.textInput input,
.textInput textarea {
	height: 4rem;
	width: 100%;
	padding: 1rem 2rem;
	border: solid 0.2rem var(--color-secondary);
	border-radius: 1rem;
	outline: unset;
	display: inline-flex;
	font-size: 1.75rem;
	background-color: var(--color-shade-light);
	transition: var(--transition-speed);
	position: relative;
}
.textInput textarea {
	padding: 2rem;
}
.textInput textarea {
	height: unset;
	min-height: 10rem;
}
.textInput input:focus,
.textInput textarea:focus {
	border: solid 0.2rem var(--color-primary);
}

.button {
	min-height: 4rem;
	padding: 1rem 4rem;
	border: unset;
	border-radius: 1rem;
	color: var(--color-shade-light) !important;
	text-decoration: none;
	display: inline-flex;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.button:disabled {
	filter: invert(0.25);
}
.button:disabled::after {
	display: none;
}
.button.sub {
	color: var(--color-secondary) !important;
}
.button.sub:hover {
	color: var(--color-shade-light) !important;
	transition: color var(--transition-speed);
}
.button:hover {
	filter: unset;
}
.button * {
	position: relative;
	z-index: 1;
}
.button::before {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--color-secondary);
	display: block;
	position: absolute;
	z-index: 0;
	pointer-events: none;
}
.button.sub::before {
	background-color: var(--color-shade-light);
}
.button::after {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--color-primary);
	display: block;
	position: absolute;
	z-index: 0;
	transform: translateX(50%) translateY(50%) scale(0);
	transform-origin: 0;
	transition: var(--transition-speed);
}
.button:hover::after {
	transform: translateX(0) translateY(0) scale(200%) rotate(360deg);
}

input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	position: absolute;
}

.dropdown {
	width: 100%;
	max-width: 38rem;
	gap: 1rem;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	position: relative;
}
.dropdown > svg {
	content: "";
	height: 1.5rem;
	width: 2rem;
	top: calc(100% - 2.6rem);
	right: 2rem;
	background-color: var(--color-shade-light);
	display: block;
	position: absolute;
	z-index: 1;
	pointer-events: none;
	transition: var(--transition-speed);
}
.dropdown > select:focus  + svg{
	transform: rotateX(180deg);
}
.dropdown label,
.dropdown label h6  {
	text-align: left;
}
.dropdown select {
	appearance: none;
	-webkit-appearance: none;
	padding: 1rem 2rem;
	border: solid 0.2rem var(--color-secondary);
	border-radius: 1rem;
	outline: unset;
	font-size: 1.5rem;
	background-color: var(--color-shade-light);
	transition: var(--transition-speed);
}
.dropdown select:focus {
	border: solid 0.2rem var(--color-primary);
}



.alertCardBackground {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--color-shade-dark);
	opacity: 0;
	position: fixed;
	z-index: 15;
	transition: var(--transition-speed);
}
.alert {
	width: 50rem;
	padding: 4rem 4rem;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 2rem;
	border: solid 0.2rem var(--color-secondary);
	border-radius: 1rem;
	color: var(--color-shade-dark);
	background-color: var(--color-shade-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 20;
	transition: var(--transition-speed);
}
.alert *:not(.button) {
	width: 100%;
	word-wrap: break-word;
	text-align: center;
}