
html {
	background-color: var(--color-secondary);
}

body {
	position: relative;
}
body::before {
	content: "";
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: var(--color-gradient);
	display: block;
	position: fixed;
	z-index: -2;
}
body::after {
	content: "";
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-image: url("../assets/CDM\ Pic.jpg");
	background-size: cover;
	background-position: center;
	background-blend-mode: color;
	display: block;
	position: fixed;
	opacity: 0.25;
	z-index: -1;
}

#main {
	min-height: 100vh;
	width: 100vw;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 50rem) {
	#main {
		padding: 0;
	}
}
#registerPanel {
	padding: 4rem 8rem;
	gap: 4rem;
	border: solid 0.2rem var(--color-primary);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-plain);
}
@media screen and (max-width: 50rem) {
	#registerPanel {
		padding: 4rem 4rem;
		width: 100%;
	}
}
#main #header {
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main #header img {
	height: 12rem;
}
#header > div > :first-child {
    color: var(--color-primary);
}
#registerForm {
	width: 100%;
	gap: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#registerForm > span {
	width: 100%;
	gap: 2rem;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
#registerForm > span .textInput {
	width: 18rem;
	max-width: 100%;
}
@media screen and (max-width: 50rem) {
	#registerForm > span {
		flex-direction: column;
	}

	.textInput,
	.dropdown {
		width: 100% !important;
		max-width: 100% !important;
	}
}