
html {
	background-color: var(--color-secondary);
}

body {
	position: relative;
}
body::before {
	content: "";
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: var(--color-gradient);
	display: block;
	position: fixed;
	z-index: -2;
}
body::after {
	content: "";
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-image: url("../assets/CDM\ Pic.jpg");
	background-size: cover;
	background-position: center;
	background-blend-mode: color;
	display: block;
	position: fixed;
	opacity: 0.25;
	z-index: -1;
}

#main {
	min-height: 100vh;
	width: 100vw;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#registerPanel {
	padding: 4rem 8rem;
	gap: 4rem;
	border: solid 0.2rem var(--color-primary);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-plain);
}
#main #header {
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main #header img {
	height: 12rem;
}
#registerForm {
	width: 100%;
	gap: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#registerForm > span {
	width: 100%;
	gap: 2rem;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
#registerForm > span .textInput {
	width: 18rem;
}

#profilePicture {
	width: unset;
	display: unset;
}
#profilePicture::before {
	content: attr(placeholder);
	top: 0;
	right: 1rem;
	padding: 1rem;
	background-color: var(--color-shade-light);
	border-radius: 10rem;
	font-size: 1.5rem;
	position: absolute;
	z-index: 2;
}
#profilePicture::after {
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem;
	background-color: var(--color-shade-light);
	border-radius: 10rem;
	font-size: 1.5rem;
	position: absolute;
	z-index: 1;
}
#profilePicture + svg {
	height: 2rem;
	width: 2rem;
	top: calc(100% - 3.25rem);
	left: 2rem;
	position: absolute;
	z-index: 3;
	pointer-events: none;
}