html {
	background-color: var(--color-secondary);
}

body {
	position: relative;
}
body::before {
	content: "";
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: var(--color-gradient);
	display: block;
	position: fixed;
	z-index: -2;
}
body::after {
	content: "";
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-image: url("../assets/CDM\ Pic.jpg");
	background-size: cover;
	background-position: center;
	background-blend-mode: color;
	display: block;
	position: fixed;
	opacity: 0.25;
	z-index: -1;
}

#main {
	min-height: 100vh;
	width: 100vw;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#registerPanel {
	padding: 4rem 8rem;
	gap: 4rem;
	border: solid 0.4rem var(--color-primary);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-plain);
}
#main #header {
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main #header img {
	height: 12rem;
}
#registerForm {
	width: 100%;
	gap: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#registerForm > span {
	width: 100%;
	gap: 1rem;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}
#registerForm > span .textInput {
	width: 18rem;
}
#registerForm > span ~ select {
	width: 18rem;
	padding: 1rem 2rem;
	border: solid 0.4rem var(--color-secondary);
	border-radius: 10rem;
	outline: unset;
	font-size: 1.5rem;
	background-color: var(--color-shade-light);
	transition: var(--transition-speed);
	position: relative;
}
#genderInput {
	width: 100%;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	position: relative;
}
#genderInput::before,
#genderInput::after {
	content: "";
	height: 1.5rem;
	width: 0.5rem;
	top: calc(100% - 2.75rem);
	background-color: var(--color-secondary);
	display: block;
	position: absolute;
	z-index: 1;
}
#genderInput::before {
	right: 3rem;
	transform: rotate(-45deg);
}
#genderInput::after {
	right: 2rem;
	transform: rotate(45deg);
}
#genderInput label,
#genderInput label h6  {
	text-align: left;
}
#genderInput select {
	appearance: none;
	-webkit-appearance: none;
	padding: 1rem 2rem;
	border: solid 0.4rem var(--color-secondary);
	border-radius: 10rem;
	outline: unset;
	font-size: 1.5rem;
	background-color: var(--color-shade-light);
	transition: var(--transition-speed);
}
#genderInput select:focus {
	border: solid 0.4rem var(--color-primary);
}

#birthday {
	text-align: center;
}

#profilePicture::before {
	content: attr(placeholder);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--color-shade-light);
	border-radius: 10rem;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
}